<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Staff Evaluation System</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/custom-logo.jpg">

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/flag-icon.min.css">
<link rel="stylesheet" href="../css/cs-skin-elastic.css">
<link rel="stylesheet" href="../css/style.css">

<style>
</style>
</head>

<body>
	
		<!-- Left Panel -->
		<aside id="left-panel" class="left-panel" th:fragment="left-panel-fragment">
			<nav class="navbar navbar-expand-sm navbar-default">
				<div id="main-menu" class="main-menu collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#"><i
								class="menu-icon fa fa-laptop"></i>Dashboard </a></li>
						<li class="menu-title">Managements</li>
						<!-- /.menu-title -->
						<li><a th:href="@{/user}"> <i class="menu-icon fa fa-user"></i>Users
						</a> <a th:href="@{/team_lists}"> <i class="menu-icon fa fa-users"></i>Teams
						</a> <a th:href="@{/dept_lists}"> <i class="menu-icon fa fa-sitemap"></i>Departments
						</a> <a th:href="@{/project_lists}"> <i class="menu-icon fa fa-file-powerpoint-o"></i>Projects
						</a> <a th:href="@{/finBudYear_lists}"> <i class="menu-icon fa fa-list-ol"></i>Evaluation
								Criteria
						</a> <a th:href="@{/impromentType_lists}"> <i class="menu-icon fa fa-line-chart"></i>Improvement
								Types
						</a> <a th:href="@{/rating_lists}"> <i class="menu-icon fa fa-sort-numeric-asc"></i>Rating
						</a> <a th:href="@{/finBudYear_lists}"> <i class="menu-icon fa fa-calendar"></i>Financial
								Budget Year
						</a></li>

						<li class="menu-title">Evaluation</li>
						<!-- /.menu-title -->
						<li><a th:href="@{/eval_point}"> <i class="menu-icon fa fa-bar-chart"></i>Staff
								Evaluation
						</a> <a href="#"> <i class="menu-icon fa fa-list-alt"></i>Evaluation
								Report
						</a> <a href="#"> <i class="menu-icon fa fa-file-excel-o"></i>Teams
								Export
						</a></li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
		<!-- /#left-panel -->
		<!-- Right Panel -->
		
		<div id="right-panel" class="right-panel">
			<!-- Header-->
			<header id="header" class="header" th:fragment="header-fragment">
				<div class="top-left">
					<div class="navbar-header">

						<a class="navbar-brand" href="#"><img
							src="images/custom-logo.jpg" height="40" alt="Logo"></a> <a
							id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
					</div>

				</div>
				<div class="top-right">
					<div class="header-menu">
						<div class="user-area dropdown float-right">
							<a href="#" class="dropdown-toggle active" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <img
								class="user-avatar rounded-circle" src="images/user.png"
								alt="User Avatar">
							</a>

							<div class="user-menu dropdown-menu">
								<a class="nav-link" href="#"><i class="fa fa-user"></i>My
									Profile</a> <a class="nav-link" href="#"><i
									class="fa fa-power-off"></i>Logout</a>
							</div>
						</div>

					</div>
				</div>
			</header>
			<!-- /#header -->
	

		<!-- content -->


		<div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer" th:fragment="footer-fragment" style="width:100%;position:relative;bottom:0;">
            <div class="footer-inner bg-light">
                <div class="row">
                    
                    <div class="col-sm-6 text-right">
                        Copyright &copy; DIR-ACE Technology Ltd.
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
    
	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.matchHeight.min.js"></script>
	<script src="js/main.js"></script>

	<!--  Chart js -->
	<script>
		
	</script>
</body>
</html>

