<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Staff Evaluation System</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/custom-logo.jpg">

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/flag-icon.min.css">
<link rel="stylesheet" href="../css/cs-skin-elastic.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/cs-skin-elastic.css">
<link rel="stylesheet"
	href="../css/lib/datatable/dataTables.bootstrap.min.css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<style>
.table td {
	padding: 0.45rem !important;
}

.wrapper {
	margin-left: 0 !important;
}
</style>

</head>

<body>

	<!-- add left panel -->
	<aside th:replace="common/master_template :: left-panel-fragment">
	</aside>


	<div id="right-panel" class="right-panel">

		<!-- add header fragment -->
		<header th:replace="common/master_template :: header-fragment">
		</header>



		<!-- Content -->
		<div class="content">
			<!-- Animated -->
			<div class="animated fadeIn">
				<!--  Form  -->
				<div class="row">
					<div class="col-lg-12">

						<div class="card">
							<div class="card-header">
								<strong>Employee Evaluation Report </strong>
							</div>


							<div class="card-body">
								<table width="100%">
									<tbody>
										<tr>
											<td><label>Search By:</label></td>
											<td>
												<div class="form-group">
													
													<select class="form-control" onchange="location = this.value;">
														<option value="http://localhost:8080/evalReport_lists" selected>Staff</option>
														<option value="http://localhost:8080/evalReportTeam_lists">Team</option>			
													</select>
												
												</div>
											</td>

											<td><label style="margin-left:50px">Search Staff:</label></td>
											<td>
												<div class="form-group">
													<input type="text" value="" class="form-control">
												</div>
											</td>
											<td></td>

											<td>
												<div class="wrapper form-group"
													style="transform: translate(50%, -10%);">
													<a href="#" style="font-size: 15px; width: 125px;">Export</a>
												</div>
											</td>
										</tr>
										<tr>
											<td><label>Staff Name:</label></td>
											<td>
												<div class="form-group">
													<input type="text" value="Aung Aung" class="form-control"
														readonly>
												</div>
											</td>

											<td><label>Department Name:</label></td>
											<td>
												<div class="form-group">
													<input type="text" value="FPD" class="form-control"
														readonly>
												</div>
											</td>
											<td><label>Job Title: </label></td>
											<td>
												<div class="form-group">
													<input type="text" value="Programmer" class="form-control"
														readonly>
												</div>
											</td>
										</tr>
										<tr>
											<td><label>Manager Name:</label></td>
											<td colspan="5"><input type="text" value="May May May"
												class="form-control" readonly></td>
										</tr>
									</tbody>
								</table>
							</div>


							<div class="row">

								<div class="wrapper form-group"
									style="transform: translate(717%, -10%);">
									<a href="/eval_point" style="font-size: 15px; width: 125px;">Edit</a>
								</div>
								<div class="wrapper form-group"
									style="transform: translate(737%, -10%);">
									<a href="#" style="font-size: 15px; width: 125px;">Delete</a>
								</div>
							</div>
							
							<!-- <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
					                <div class="modal-dialog modal-sm" role="document">
					                    <div class="modal-content">
					                        <div class="modal-header">
					                            <h7 class="modal-title" id="staticModalLabel">Evaluation Report Deleting</h7>				                            
					                        </div>
					                        <div class="modal-body" align="center">
					                            <p>
					                               Are you sure want to delete ?
					                           </p>
					                       </div>
					                       <div class="modal-footer">
					                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					                        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
					                    </div>
					                </div>
					            </div>
					        </div> -->

							<table id="bootstrap-data-table"
								class="table table-striped table-bordered">

								<thead>
									<tr>
										<th style="text-align: center; padding-bottom: 70px">No</th>
										<th style="text-align: center; padding-bottom: 70px">Evaluation
											Points</th>
										<th>
											<table style="width: 100%;">
												<tbody>
													<tr>
														<td colspan="12" align="center">Score</td>
													</tr>
													<tr>
														<td colspan="12" align="center">2020</td>
													</tr>
													<tr>
														<td>Jan</td>
														<td>Feb</td>
														<td>Mar</td>
														<td>Apr</td>
														<td>May</td>
														<td>Jun</td>
														<td>Jul</td>
														<td>Aug</td>
														<td>Sep</td>
														<td>Oct</td>
														<td>Nov</td>
														<td>Dec</td>
													</tr>
												</tbody>
											</table>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><b>1</b></td>
										<td colspan="2"><b>Job Knowledge</b></td>

									</tr>
									<tr>
										<td align="right">1</td>
										<td>Understanding about Expectations and job requirements</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">2</td>
										<td>Willingness to do continued education and specialized
											training</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">3</td>
										<td>Having Skill and ability to perform the job
											satisfactorily</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">4</td>
										<td>Following the Rules and policies properly</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">5</td>
										<td>Sharing Knowledge with colleagues</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right" colspan="2"><small><b>Sub
													Total</b></small></td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>

									</tr>

									<tr>
										<td><b>2</b></td>
										<td colspan="2"><b>Productivity</b></td>
									</tr>
									<tr>
										<td align="right">1</td>
										<td>Using working time effectively</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">2</td>
										<td>Keeping on the schedule and Deadlines are met</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">3</td>
										<td>Present on time/Punctuality</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">4</td>
										<td>Able to handling the multiple tasks.</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">5</td>
										<td>Tasks are done with accuracy</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Sub
												Total</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>

									<tr>
										<td><b>3</b></td>
										<td colspan="2"><b>Teamwork</b></td>
									</tr>
									<tr>
										<td align="right">1</td>
										<td>Giving respect among the colleagues</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">2</td>
										<td>Accepts criticism when presented properly</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">3</td>
										<td>Playing as a key person</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">4</td>
										<td>Sharing team resources with each other</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">5</td>
										<td>Executes his/her part of the task</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Sub
												Total</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>

									<!-- <tr>
										<td><b>4</b></td>
										<td colspan="2"><b>Leadership</b></td>
									</tr>
									<tr>
										<td align="right">1</td>
										<td>Accepts his/her mistakes</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">2</td>
										<td>Able to work without being supervised all the time</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">3</td>
										<td>Capable of decision making</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">4</td>
										<td>High pressure situations don't scare him/ her</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right">5</td>
										<td>Tries to motivate his/her coworkers to finish tasks</td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Sub
												Total</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table></td>
									</tr> -->

									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Grand
												Total</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
														<td>0</td>
													</tr>
												</tbody>
											</table>
									</td>
									</tr>
									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Has
												Improvement</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr style="font-size: small;">
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
														<td>Cons</td>
													</tr>
												</tbody>
											</table>
									</td>

									</tr>
									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Is
												this employee eligible for promotion?</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr style="font-size: small;">
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
														<td>Yes</td>
													</tr>
												</tbody>
											</table>
									</td>

									</tr>
									<tr>
										<td align="right" colspan="2" style="font-size: small;"><b>Is
												this employee eligible for termination?</b></td>
										<td><table style="width: 100%">
												<tbody>
													<tr style="font-size: small;">
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
														<td>No</td>
													</tr>
												</tbody>
											</table>
									</td>
									</tr>

								</tbody>
							</table>

							<div class="card-body">
								
								<div style="width: 90%">
									<canvas id="myChart" height="40px" width="90px"></canvas>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<!--  /Form -->

			</div>
			<!-- .animated -->
		</div>
		<!-- /.content -->


		<div class="clearfix"></div>

		<!-- add footer fragment -->
		<footer th:replace="common/master_template :: footer-fragment">
		</footer>

	</div>
	<!-- right panel end -->

	<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.matchHeight.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../chart.js/Chart.min.js"></script>

	<!--  Chart js -->
	<script type="text/javascript" th:inline="javascript">

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            
        	labels:  ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],

            datasets: [
                {
                    label: "Job Knowledge",
                    borderColor: 'rgb(255, 0, 0)',
                    lineTension: 0,
                    fill: false,
                    
                    data:  ['20','22','19','13','18','21','18','24','20','19','22','17'],
                },
                {
                    label: "Productivity",
                    borderColor: 'rgb(255, 100, 2)',
                    lineTension: 0,
                    fill: false,
                    
                    data:  ['21','20','15','18','20','22','16','23','17','20','24','19'],
                },
                {
                    label: "Teamwork",
                    borderColor: 'rgb(255, 100, 2)',
                    lineTension: 0,
                    fill: false,
                    
                    data:  ['19','23','20','23','17','19','24','17','21','18','20','21'],
                },
            ]
        },
        options: {
            responsive: true,
            legend: { position: 'right' },
        }
    });

    </script>

</body>
</html>
