<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Staff Evaluation System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="shortcut icon" href="images/custom-logo.jpg">
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/flag-icon.min.css">
    <link rel="stylesheet" href="../css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../css/style.css">

   <style>
   
    </style>
</head>

<body>
    <aside th:replace="common/master_template :: left-panel-fragment"></aside>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
    <header th:replace="common/master_template :: header-fragment"></header>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!--  Form  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
								<strong>User Registration </strong>
							</div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card-body">
                                    	<div class="form-group">
											<label class="form-control-label">User ID</label>
											<input type="text" value="" class="form-control"/>
										</div>
										<div class="form-group">
		                                    <label>User Name</label>
											<input type="text" value="" class="form-control"/>
										</div>
										<div class="form-group">
											<label>Password</label>
											<input type="text" value="" class="form-control"/>
										</div>
										<div class="form-group">
											<label for ="role">Role</label>
											<select class="form-control" id="role">
											    <option>Administrator</option>
											    <option>PM</option>
											    <option>Leader</option>
											    <option>User</option>
											 </select>
									 	</div>
									 	<div class="form-group">
		                                    <label for="dept">Department</label>
											<select class="form-control" id="dept">
											    <option>DELTA Offshore Development</option>
											    <option>HR/Admin Department</option>
											    <option>Securities System Development(SSD)</option>
											    <option>Operation Management Team (First Line)</option>
											 </select>
									 	</div>
									 	<div class="form-group">
											<label for="team">Team</label>
											<select class="form-control" id="team">
											    <option>FPD</option>
											    <option>MARK</option>
											    <option>AEON</option>
											    <option>System Team</option>
											 </select>
									 	</div>
									 	<div class="form-group">
											<label for="pjt">Project</label>
											<select class="form-control" id="pjt">
											    <option>FPD</option>
											    <option>MARK</option>
											    <option>AEON</option>
											 </select>
									 	</div>
									<button type="button" class="btn btn-primary">Save</button>	
									<button type="button" class="btn btn-primary">Cancel</button>										
                                    </div>
										
                                </div>
                            </div> 
                            <div class="card-body"></div>
                        </div>
                    </div>
                </div>
                <!--  /Form -->
                
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
		<footer th:replace="common/master_template :: footer-fragment"></footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.matchHeight.min.js"></script>
    <script src="js/main.js"></script>

    <!--  Chart js -->
    <script>
    
    </script>
</body>
</html>
